body {
    margin: 0;
    overflow: hidden;
    background-color: #050510;
    color: #00ff00;
    font-family: 'Press Start 2P', cursive;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    transform: scale(1.03) rotateX(0.8deg) perspective(1000px);
    border-radius: 40px;
    image-rendering: pixelated; 
    filter: contrast(1.1) brightness(1.2) blur(0.3px) saturate(1.3);
}


#crt-overlay {
    position: absolute;
    top: 0; left: 0; width: 100vw; height: 100vh;
    z-index: 5; pointer-events: none;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.2) 50%), 
                linear-gradient(90deg, rgba(255, 0, 0, 0.04), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.04));
    background-size: 100% 3px, 4px 100%;
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.8);
    animation: flicker 0.15s infinite;
}

.scanline {
    position: absolute; top: 0; left: 0; width: 100vw; height: 100px;
    background: linear-gradient(to bottom, transparent, rgba(0, 255, 0, 0.1) 50%, transparent);
    opacity: 0.4; z-index: 6; pointer-events: none;
    animation: roll 6s linear infinite;
}


#retro-reset-button {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: #020202;
    border: 3px solid #00ff00;
    color: #00ff00;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 2px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.8), inset 0 0 10px rgba(0, 255, 0, 0.6);
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.9);
    transition: all 0.1s ease-out;
    border-radius: 5px;
    pointer-events: auto;
}

#retro-reset-button:hover {
    background-color: rgba(0, 255, 0, 0.3);
    box-shadow: 0 0 25px rgba(0, 255, 0, 1), inset 0 0 15px rgba(0, 255, 0, 0.8);
}

#retro-reset-button:active {
    background-color: #00ff00;
    color: #050510;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    text-shadow: none;
}


#horror-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #880000;
    font-family: 'Nosifer', cursive; 
    font-size: 80px;
    text-shadow: 0 0 20px #ff0000, 5px 5px 5px #000000;
    pointer-events: none;
    z-index: 1000;
    text-align: center;
    display: none;
    animation: blood-pulse 0.2s infinite;
}

.pixel-font {
    font-family: 'Press Start 2P', cursive;
}


@keyframes flicker { 0% { opacity: 0.95; } 50% { opacity: 1.0; } 100% { opacity: 0.97; } }
@keyframes roll { 0% { transform: translateY(-10vh); } 100% { transform: translateY(110vh); } }

@keyframes blood-pulse {
    0% { transform: translate(-50%, -50%) scale(1); filter: brightness(1) blur(0px); }
    50% { transform: translate(-50.5%, -49.5%) scale(1.05); filter: brightness(1.8) blur(1px); }
    100% { transform: translate(-49.5%, -50.5%) scale(1); filter: brightness(1) blur(0px); }
}